<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="FL_AppComponent" Directory="FL_AppInstallFolder">
			<Files Include="$(var.Application.TargetDir)\**">
				<Exclude Files="$(var.FL_AppTarget)" />
			</Files>

			<Component Id="FL_AppComponentTarget">
				<File Source="$(var.FL_AppTarget)" KeyPath="yes">
					<Shortcut
						Id="FL_AppDesktopShortcut"
						Name="Gain"
						Icon="FL_AppShortcut.Ico"
						Advertise="yes"
						Description="Gain - Dentrix Adapter"
						Directory="DesktopFolder"
						WorkingDirectory="FL_AppInstallFolder" />
					<Shortcut
						Id="FL_AppProgramMenuShortcut"
						Name="Gain"
						Icon="FL_AppShortcut.Ico"
						Advertise="yes"
						Description="Gain - Dentrix Adapter"
						Directory="ProgramMenuFolder"
						WorkingDirectory="FL_AppInstallFolder" />
				</File>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
