<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="FL_AppFiles" Directory="FL_AppInstallFolder">
			<Files Include="$(var.Application.TargetDir)\**">
				<Exclude Files="$(var.FL_AppTarget)" />
			</Files>
		</ComponentGroup>
	</Fragment>
</Wix>
