<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <ComponentGroup Id="FL_AppFiles" Directory="FL_AppInstallFolder">
		  <Files Include="$(var.Application.TargetDir)\**" />
	  </ComponentGroup>

	  <StandardDirectory Id="DesktopFolder">
		  <Component Id="FL_AppDesktopShortcutComponent" Guid="*">
			  <Shortcut
				  Id="FL_AppAppDesktopShortcut"
				  Name="Gain"
				  Icon="FL_AppShortcutIco"
				  Target="$(var.Application.TargetName).exe"
				  WorkingDirectory="FL_AppInstallFolder" />

			  <RegistryValue
				  Root="HKCU"
				  Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)"
				  Name="desktop_menu_shortcut"
				  Type="integer"
				  Value="1"
				  KeyPath="yes" />
		  </Component>
	  </StandardDirectory>

	  <StandardDirectory Id="ProgramMenuFolder">
		  <Directory Id="FL_AppProgramMenuFolder" Name="Gain">
			  <Component Id="FL_AppProgramMenuShortcutComponent">
				  <Shortcut
					  Id="Fl_AppProgramMenuShortcut"
					  Name="Gain"
					  Icon="FL_AppShortcutIco"
					  Target="$(var.Application.TargetName).exe"
					  WorkingDirectory="FL_AppInstallFolder" />

				  <RemoveFolder
					  Id="FL_AppCleanupShortcut"
					  Directory="FL_AppProgramMenuFolder"
					  On="uninstall"/>

				  <RegistryValue
					  Root="HKCU"
					  Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)"
					  Name="program_menu_shortcut"
					  Type="integer"
					  Value="1"
					  KeyPath="yes" />
			  </Component>
		  </Directory>
	  </StandardDirectory>
  </Fragment>
</Wix>
