<?xml version="1.0" encoding="UTF-8"?>

<!-- Be explicit we want the .exe file. $TargetPath may specify something different, e.g. a DLL. -->
<?define FL_ServiceTarget = "$(var.BackgroundService.TargetDir)\$(var.BackgroundService.TargetName).exe" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Fragment>
		<ComponentGroup Id="FL_ServiceFiles" Directory="FL_ServiceInstallFolder">
			<Files Include="$(var.BackgroundService.TargetDir)\**">
				<Exclude Files="$(var.FL_ServiceTarget)" />
			</Files>
			
			<Component Id="FL_ServiceComponent" Guid="011E5106-D965-4133-9D71-C207467927DA">
				<File Source="$(var.FL_ServiceTarget)" KeyPath="yes" />

				<ServiceInstall
					Name="Gain - Dentrix Adapter"
					DisplayName="Gain - Dentrix Adapter"
					Description="Service for triggering Gain workflows"
					Type="ownProcess"
					Start="auto"
					ErrorControl="normal">
					<util:ServiceConfig
						FirstFailureActionType="restart"
						SecondFailureActionType="restart"
						ThirdFailureActionType="restart" />
				</ServiceInstall>

				<ServiceControl
					Id="FL_ServiceControl"
					Name="Gain - Dentrix Adapter"
					Start="install"
					Stop="both"
					Remove="uninstall" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
