<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
	xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package
	    Name="Gain"
	    Manufacturer="Fluidic ML, INC."
	    Version="1.0.0.0"
	    UpgradeCode="f68cb4b7-7e79-4d25-984f-08a980e2af4f">
	  
	    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<MediaTemplate EmbedCab="yes" />

		<ui:WixUI
			Id="FL_DialogSet"
			InstallDirectory="FL_InstallFolder" />

		<Feature Id="FL_AppFeature" Title="Application">
			<ComponentGroupRef Id="FL_AppFiles" />
			<ComponentRef Id="FL_AppShortcutComponent" />
		</Feature>

		<Feature Id="FL_ServiceFeature" Title="Background Service">
			<ComponentGroupRef Id="FL_ServiceExe" />
		</Feature>
    </Package>

	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="FL_ParentInstallFolder" Name="!(bind.Property.Manufacturer)">
				<Directory Id="FL_InstallFolder" Name="!(bind.Property.ProductName)">
					<Directory Id="FL_AppInstallFolder" Name="Application" />
					<Directory Id="FL_ServiceInstallFolder" Name="Service" />
				</Directory>
			</Directory>
		</StandardDirectory>
	</Fragment>
</Wix>
