<Wix
	xmlns="http://wixtoolset.org/schemas/v4/wxs"
	xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package
	    Name="Gain"
	    Manufacturer="Fluidic ML, INC."
	    Version="1.0.0.0"
	    UpgradeCode="{f68cb4b7-7e79-4d25-984f-08a980e2af4f}">

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<MediaTemplate EmbedCab="yes" />

		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="FL_ParentInstallFolder" Name="!(bind.Property.Manufacturer)">
				<Directory Id="FL_InstallFolder" Name="!(bind.Property.ProductName)">
					<Directory Id="FL_AppInstallFolder" Name="Application" />
					<Directory Id="FL_ServiceInstallFolder" Name="BackgroundService" />
				</Directory>
			</Directory>
		</StandardDirectory>

		<Icon Id="FL_AppShortcut.Ico" SourceFile="Assets\Images\shortcut.ico"/>

		<Property Id="ARPPRODUCTICON" Value="FL_AppShortcut.Ico" />

		<ui:WixUI
			Id="FL_DialogSet"
			InstallDirectory="FL_InstallFolder" />

		<Feature Id="FL_AppFeature" Title="Application">
			<ComponentGroupRef Id="FL_AppFiles" />
		</Feature>

		<Feature Id="FL_ServiceFeature" Title="Background Service">
			<ComponentGroupRef Id="FL_ServiceFiles" />
		</Feature>
	</Package>
</Wix>
