<?xml version="1.0" encoding="UTF-8"?>

<?include Variables.wxi?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="FL_ServiceFiles" Directory="FL_ServiceInstallFolder">
			<Files Include="$(var.BackgroundService.TargetDir)\**">
				<Exclude Files="$(var.FL_ServiceTarget)" />
			</Files>
		</ComponentGroup>
	</Fragment>
</Wix>
